.errorWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 16px;

  padding: 20px;
}
.contentWrapper {
  padding: 20px 10px;
}
@media only screen and (min-width: 768px) {
  .contentWrapper {
    padding: 20px 20px;
  }
}
.btnBack {
  visibility: hidden;
  position: fixed;

  top: 70px;
  left: 20px;

  z-index: 9999;

  border: 1px solid var(--neutral);
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
  margin-bottom: 20px;

  border-radius: 9px;

  transition:
    color 0.2s ease,
    background-color 0.2s ease;
}
.btnBack:hover {
  background-color: var(--primary-hover);
  color: #fff;
}
.BtnBackIcon {
  width: 24px;
  height: 24px;
}
@media only screen and (min-width: 1044px) {
  .btnBack {
    visibility: visible;
  }
}
