.errorWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 16px;

  padding: 20px;
}
.contentWrapper {
  padding: 20px 10px;
}
@media only screen and (min-width: 768px) {
  .contentWrapper {
    padding: 20px 20px;
  }
}
.btnBack {
  border: 1px solid var(--neutral);

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;
  margin-bottom: 20px;

  border-radius: 9px;

  transition:
    color 0.2s ease,
    background-color 0.2s ease;
}
.btnBack:hover {
  color: #fff;
  background-color: var(--primary-hover);
}
.BtnBackIcon {
  width: 24px;
  height: 24px;
}
