.title {
  font-size: 36px;
  font-weight: 500;
  color: var(--white);
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 58px;
  }
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
  border-radius: 12px;

  padding: 24px;
  justify-content: center;
  text-align: center;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 36px;
  border-radius: 12px;

  padding: 24px;
  justify-content: center;
  text-align: center;
}
.text {
  font-size: 14px;
  color: var(--white);
}
@media only screen and (min-width: 768px) {
  .text {
    font-size: 18px;
  }
}
.heroSection {
  background: #2a57de;
  background: radial-gradient(
    circle,
    rgba(42, 87, 222, 0.92) 0%,
    rgba(0, 47, 158, 0.92) 100%
  );
}
