.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.apartmentInfo {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.appWrapper {
  border: 1px solid rgba(210, 210, 210, 0.544);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;

  padding: 24px;
}
.headerInfo {
  position: relative;
  display: flex;
}
.title {
  font-weight: 400;
  max-width: 150px;
}
@media only screen and (min-width: 768px) {
  .title {
    max-width: 550px;
  }
}
.headerTitle {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.createdAtText {
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color-gray-100);
  border-radius: 12px;

  padding: 12px;

  max-width: 100px;

  color: var(--color-gray-500);
  font-weight: 400;
}
.location {
  color: var(--color-gray-500);
  font-weight: 400;

  display: flex;
  gap: 4px;
  align-items: center;
}
.sectionTitle {
  font-weight: 400;

  display: flex;
  align-items: center;
  gap: 8px;
}
.apartmentDescriptionText {
  font-weight: 300;
}

.decorateLine {
  border: none;
  border-top: 1px solid rgba(96, 96, 96, 0.315);
  width: 100%;
}
.locationLink {
  color: var(--primary);

  text-decoration: underline;
}
.mapHeader {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.mapWrapper {
  height: 300px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  padding: 12px 0;
}
@media only screen and (min-width: 768px) {
  .mapWrapper {
    height: 400px;
  }
}
@media only screen and (min-width: 1044px) {
  .mapWrapper {
    height: 450px;
  }
}
.mapHeaderTitleWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media only screen and (min-width: 768px) {
  .mapHeaderTitleWrapper {
    display: flex;
    justify-content: space-between;
  }
}
.appPriceWrapper {
  border: 2px solid var(--primary-border);
}
