.nav {
  width: 100%;
}
.navButtonWrapper {
  width: 100%;
}
.navList {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.btnIcon {
  width: 16px;
  height: 16px;
}
.navItem {
  transition: color 0.3s ease;
  font-size: 24px;

  border: 2px solid var(--primary-border);
  border-radius: 12px;
}
.navItem:hover {
  color: var(--primary-hover);
}
.navLink {
  display: flex;
  gap: 8px;

  align-items: center;
  text-align: center;

  padding: 8px 16px;
}
